.nodes {
    left: 0;
    top: 170vh;
    z-index: -1;
    position: absolute;
    height: 600px;
    width: 250px;
}

@media only screen and (max-width: 768px) {
    .connectivity hr::before {
        width: 100%;
    }
}

.connectivity {
    width: 80vw;
    margin: 0 auto;
}

.connectivity hr::before {
        content: "";
        display: block;
        width: 89vw;
        margin: 0 auto;
        outline: 5px solid var(--blue);
}

.connectivity h2 {
    font-size: calc(20px + 2vw);
    line-height: 4vw;
    display: inline;
    color: var(--blue);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-left: 5vw;
}
