.emailForm {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 12px;
    margin-top: var(--gap);
}

.emailInput {
    flex-basis: 65%;
    border-radius: var(--radius);
    border: 1px solid var(--light-gray);
    padding: 12px var(--gap-double);
    font-weight: 600;
    color: var(--blue);
    font-size: 16px;
    outline: none;
    height: 44px;
    background: #C4C4C4;
    color: black;
}

.emailButton {
    margin-left: var(--gap-double);
    cursor: pointer;
    border: none;
    border-radius: var(--radius);
    background: var(--blue);
    flex-grow: 1;
    font-size: 16px;
    color: var(--bg);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 175px;
    height: 44px;
}

.success {
    color: #86dcea;
    font-size: 16px;
    animation-name: fade;
    animation-duration: 0.5s;
    text-align: center;
}

.error {
    color: #ff0033;
    font-size: 16px;
    animation-name: fade;
    animation-duration: 0.5s;
    text-align: center;
}

@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.success {
    margin-top: var(--gap);
    line-height: 18px;
    text-shadow: black 0px 0px 10px;
}

.disclaimer {
    margin: var(--gap) 0;
    font-weight: 500;
    font-size: 14px;
}

@media screen and (max-width: 960px) {
	.disclaimer {
		width: 75%;
        margin: 0 auto;
        font-size: 10px;
	}

    .emailForm {
        flex-direction: column;
    }

    .emailInput {
        width: 75%;
        margin: 0 auto;
    }

    .emailButton {
        width: 50%;
        margin: var(--gap) auto;
    }
}