/* .topo {
    position: absolute;
    z-index: -1;
    top: 40px;
    left: 20vw;
} */

.container {
	height: 100%;
	display: flex;
}

.globe {
	position:absolute;
	width: 25vw;
	top: 25vh;
	left: -20px;
}

.blob {
	position: absolute;
	left: 80px;
	width: 20vw;
	height: auto;
	transform: scaleX(1.5) scaleY(1.45);
	top: 27vh;
}

.applyNowWrapper {
	max-width: max-content;
	font-weight: 800;
	font-size: 68px;
	margin: 30vh auto;
}

.details {
	font-size: 18px;
	font-weight: 500;
	text-align: right;
}

.connect {
	font: inherit;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.rainbow {
	background: linear-gradient(0deg, #ff8379, #feda22);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.largest {
	font: var(--sans-serif);
	font-weight: 500;
	font-size: 36px;
	letter-spacing: 1px;
	text-align: right;
	float: right;
	display: block;
	width: 100%;
}

.hackscBackground {
	position: absolute;
	width: 100vw;
	height: 95px;
	left: 0px;
	z-index: 1;
	background: #FF695C;
	top: 72px;
}

.hacksc {
	position: absolute;
	width: 100vw;
	height: 20vh;
	height: 14vh;
	color: var(--bg);
	font-weight: 800;
	font-size: 80px;
	line-height: 94px;
	letter-spacing: 1px;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	user-select: none;
	z-index: 2;
}

.dotflower {
	position: absolute;
	right: 0;
	top: 55vh;
}
/* tablets */
@media only screen and (max-width: 960px) {
	.globe {
		height: 28vh;
		width: auto;
		left: 27.5vw;
		top: 14vh;
	}

	.blob {
		left: 40vw;
		height: 25vh;
		width: auto;
		top: 17vh;
	}

	.applyNowWrapper {
		max-width: max-content;
		font-weight: 800;
		font-size: 68px;
		margin: auto auto;
	}

	.dotflower {
		position: absolute;
		right: 0;
		top: 70vh;
	}
}

/* phone */
@media only screen and (max-width: 768px) {
	.applyNowWrapper {
		max-width: max-content;
		font-weight: 800;
		font-size: 68px;
		margin: 15vh auto;
	}

	.hacksc,
	.hackscBackground {
		top: 0;
		font-size: 90px;
	}

	.headingText {
		font-size: 48px;
		line-height: 56px;
		text-align: center;
		margin-top: 20px;
	}

	.container {
		margin-top: var(--gap-double);
	}

	.dotflower {
		display: none;
	}

	.globe {
		width: 45vw;
		left: 27.5vw;
		top: 20vh;
	}

	.blob {
		left: 40vw;
		width: 35vw;
		top: 22vh;
	}

	.details,
	.largest {
		text-align: center;
		margin-top: var(--gap);
	}
}
