
/* .topo {
    position: absolute;
    z-index: -1;
    top: 40px;
    left: 20vw;
} */

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url('../../images/globe.png');
    background-repeat: no-repeat;
    background-size: 30vw 30vw;
    background-position: center;
    flex-direction: column;
}

.applyNowWrapper {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    font-weight: 800;
    font-size: 68px;
    line-height: 70px;
    text-transform: uppercase;
    margin: 0 auto;
}

.largest {
    display: flex;
    align-items: end;
    margin-right: 5vw;
    flex-direction: column;
}

.details {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.connect {
    margin-top: calc(var(--gap-double) * 4);
}

.connect::after {
    color: var(--blue);
    content: ".";
    font-family: 'Work Sans', 'sans-serif';
}

.apply {
    background: var(--blue);
    border-radius: 8px;
    cursor: pointer;
    width: 350px;
    height: 50px;
    margin: var(--gap-double) auto;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 28px;
}

.rainbow {
    background: linear-gradient(0deg, #ff8379, #feda22);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.headingText {
    font-size: 4vw;
    line-height: 4vw;
    letter-spacing: 1px;
    width: max-content;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media only screen and (max-width: 960px) {
    .container {
        width: 100vw;
        justify-content: center;
    }
    
    .applyNowWrapper {
        left: -50%; 
    }

    .headingText {
        font-size: 48px;
        line-height: 56px;
    }

    .details {
       flex-direction: column;
    }
}

.hackscBackground {
    position: absolute;
    width: 100vw;
    height: 95px;
    left: 0px;
    top: 25vh;
    background: linear-gradient(270deg, #FEDA22 0%, #FF8379 100%), #FF8379;
}

.hacksc {
    position: absolute;
    width: 100vw;
    height: 20vh;
    top: 25vh;
    height: 14vh;
    font-family: 'Work Sans', sans-serif;
    color: var(--bg);
    font-weight: 800;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 1px;
    text-transform: uppercase;    
    overflow: hidden;
    white-space: nowrap;  
    user-select: none;
}

.dotflower {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0;
    top: 55vh;
}