/* .topo {
    position: absolute;
    z-index: -1;
    top: 40px;
    left: 20vw;
} */

.containerWrapper {
	position: relative;
	z-index: 3;
	height: 80vh;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.globe {
	width: 550px;
	margin-top: 8vh;
	overflow: hidden;
	margin-left: -60px;
	z-index: 3;
}

.applyNowWrapper {
	max-width: max-content;
	font-weight: 800;
	font-size: 68px;
	margin: 25vh 5vw;
}

.details {
	font-size: calc(14px);
	font-weight: 500;
	text-align: right;
}

.connect {
	font-size: calc(20px + 1.3vw);
	text-align: right;
	text-transform: uppercase;
	margin: 0;
}

.rainbow {
	background: linear-gradient(0deg, #ff8379, #feda22);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.largest {
	font: var(--sans-serif);
	font-weight: 500;
	font-size: calc(14px + 1vw);
	letter-spacing: 1px;
	text-align: right;
	float: right;
	display: block;
	width: 100%;
}


.hackscBackground {
	position: absolute;
	width: 100vw;
	height: 95px;
	left: 0px;
	z-index: 1;
	background: #FF695C;
	top: 72px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hacksc {
	position: absolute;
	width: 100vw;
	height: 100%;
	color: var(--bg);
	font-size: 80px;
	line-height: 94px;
	letter-spacing: 1px;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	user-select: none;
	z-index: 2;
}


.groupImageContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: flex-end;
	max-width: 100vw;
}

.groupImage {
	max-width: 75vw;
	z-index: 3;
}

.social {
	display: flex;
	margin: 27vh auto;
	flex-direction: column;
	justify-content: space-around;
	height: 200px;
}

@media only screen and (max-width: 1450px) {
	.globe {
		flex-basis: 30%;
		margin: auto;
	}

	.applyNowWrapper {
		flex-basis: 55%;
	}
}

.apply {
    cursor: pointer;
    border: none;
    border-radius: var(--radius);
    background: var(--blue);
    color: var(--bg);
	font-weight: 600;
	font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
	height: 66px;
}

/* tablets */
@media only screen and (max-width: 960px) {
	.hackscBackground {
		top: 0;
	}

	.applyNowWrapper {
		margin: 15vh auto;
	}

	.connect,
	.largest,
	.details {
		text-align: center;
	}

	.container {
		flex-direction: column;
	}

	.globe {
		position: absolute;
		opacity: .4;
		width: 50vw;
		bottom: 50%;
		transform: translateX(25vw) translateY(50vh);
	}

	.social {
		flex-direction: row;
		width: 50%;
		align-items: flex-start;
		margin: 12vh auto;
		z-index: 3;
	}
	
	
}
