.year {
    display: inline;
}

.year {
    color: var(--blue);
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 500;
    font-size: 43px;
    margin-bottom: 25px;
    margin-left: 64px;
}

.logo {
    position: absolute;
    z-index: -1;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.nav {
    z-index: 10;
    margin: var(--gap) auto;
    position: sticky;
    padding: var(--gap) 0;
    top: 0;
    background-color: rgba(255, 255, 255, .9);
    transition: background-color var(--transition);
}   

@media only screen and (max-width: 960px) {
    .nav .links {
        display: none;
    }
}

@supports ((-webkit-backdrop-filter: saturate(180%) blur(4px)) or (backdrop-filter: saturate(180%) blur(4px))) {
    .nav {
        z-index: 10;
        margin: var(--gap) auto;
        position: sticky;
        padding: var(--gap) 0;
        top: 0;
        background-color: rgba(255, 255, 255, .7);
        backdrop-filter: saturate(180%) blur(4px);
        transition: background-color var(--transition);
        max-width: var(--main-content);
    }
}

.header {
    height: 32px;
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--main-content);
    font-family: "Open Sans";
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-evenly;
    flex: .6;
    align-items: center;
    transition: all 2s;
}

.link {
    font-weight: 800;
    text-decoration: none;
    color: #1C1C1C;
}

.apply {
    background: var(--blue);
    border-radius: 8px;
    cursor: pointer;
    width: 160px;
    height: 45px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
}
