.waves {
    left: 0;
    z-index: -1;
    position: absolute;
}

.detailsHeading {
    font-size: 100px;
    text-transform: uppercase;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60rem;
    margin: 0 auto;
}

.details {
    margin: 0 10vw;
    height: max-content;
}

.detailsWrapper {
    display: inline-block;
    width: 55%;
}

.faq,
.detailsWrapper {
    padding-top: 45px;
    vertical-align: top;
}

.faq {
    width: max-content;
    display: inline-block;
    margin-left: 52px;
}

.faqQuestion {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 0px;
    background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #4A96F0 60%);
    width: 90px;
    letter-spacing: 1.5px;
}

.faqResponse {
    margin-top: 0px;
}


.hand {
    overflow-x: hidden;
    overflow-y: visible;
    position: absolute;
    right: 0;
    top: 135vh;
    z-index: -2;
}

.connectivity {
    margin: 0 10vw;
}

.connectivity hr::before {
        content: "";
        display: block;
        width: 89vw;
        border: 5px solid #4A96F0;
}

.connectivity h2 {
    font-size: 48px;
    margin-top: 0;
    margin-left: 16px;
    margin-bottom: 8px;
    color: #4A96F0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.nodes {
    right: 0;
    top: 265vh;
    z-index: -1;
    position: absolute;
    height: 1000px;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }

    .detailsWrapper {
        display: flex;
        width: 100%;
    }

    .faq {
        margin-left: 0px;
    }
    

    .connectivity hr::before {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .hand {
        display: none;
    }
}